[Desktop Entry]
Encoding=UTF-8
Name=Mota
Comment=Mota P2P Cryptocurrency
Comment[fr]=Mota, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Mota, eşten eşe kriptografik sanal para birimi
Exec=mota-qt %u
Terminal=false
Type=Application
Icon=mota128
MimeType=x-scheme-handler/mota;
Categories=Office;Finance;
