[Unit]
Description=MOTA's distributed currency daemon
After=network.target

[Service]
User=mota
Group=mota

Type=forking
PIDFile=/var/lib/motad/motad.pid

ExecStart=/usr/bin/motad -daemon -pid=/var/lib/motad/motad.pid \
          -conf=/etc/mota/mota.conf -datadir=/var/lib/motad

ExecStop=-/usr/bin/mota-cli -conf=/etc/mota/mota.conf \
         -datadir=/var/lib/motad stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
